<?xml version="1.0" encoding="utf-8"?>



<configuration>
  <connectionStrings>
   
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=NAZRULPC\SQLEXPRESS;Initial Catalog=nazrul_demo;Password=3p3200170;User ID=sa; Integrated Security = false;" providerName="System.Data.SqlClient"/>
   <add name="Connection_String" connectionString="Data Source=NAZRULPC\SQLEXPRESS;Initial Catalog=nazrul_demo; User=sa; Password=3p3200170" providerName="System.Data.SqlClient"/>
  <!--<add name="LocalSqlServer" connectionString="Data Source=DESKTOP-CQT54DN;Initial Catalog=Common;Password=3p3200170;User ID=sa; Integrated Security = false;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
     
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
      </controls>
    </pages>
    <!--<pages theme="Default" />-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="100" />
    </authentication>
    <authorization>
      <allow roles="Admin"/>
      <deny roles="Admin"/>
    </authorization>
    <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="25">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"  minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="LocalSqlServer" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.live.com" password="Nazrulbspi5"  port="587" userName="nazrul.bspi@hotmail.com" enableSsl="true" />
        <!--<network host="smtp.nazrul-islam.com" enableSsl="false" port="587" userName="admin@nazrul-islam.com" password="Mevg!vC4"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>

    </handlers>
  </system.webServer>
<appSettings>
  <add key="owin:AutomaticAppStartup" value="false" />
   <add key="ConnectionString" value="Data Source=NAZRULPC\SQLEXPRESS;Initial Catalog=nazrul_demo;Password=3p3200170;User ID=sa; Integrated Security = false;" />
   <!--<add key="ConnectionString" value="Data Source=.;Initial Catalog=Common;Password=3p3200170;User ID=sa; Integrated Security = false;" />-->
    <add key="Provider" value="SQLServer" />
   <add key="SiteDomain" value="http://localhost/Theme/Dashboard" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
